# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

# Python / Django / Pycharm
.idea/
*.pyc
*~
/.vscode
__pycache__
venv
db.sqlite3
/static
.DS_Store

# settings.py
ETWeb/media/employee_screenshots


# Redis
*.rdb

ETWeb/node_modules
builds/
profile_images/
.env

# Large deployment files
ETClient/deployment/*.exe
ETClient/deployment/etracker_1.0.0_demo_win_x86_release/
ETClient/deployment/qt-online-installer-windows-x64-4.10.0.exe
ETClient/deployment/qt-creator-opensource-windows-arm64-15.0.0.exe
ETClient/deployment/qt-creator-opensource-windows-x86_64-15.0.1.exe
